<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jun.lottery.infrastructure.dao.IAwardDao">
    <!--Award queryAwardInfo(String awardId);-->
    <select id="queryAwardInfo" parameterType="java.lang.String" resultType="com.jun.lottery.infrastructure.po.Award">
        select
            id, awardId, awardType, awardCount, awardName, awardContent, createTime, updateTime
        from
            award
        where awardId = #{awardId}
    </select>
</mapper>